@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.mega-menu-li{
  @apply w-full hover:bg-white dark:hover:bg-dark rounded-md p-1;
}

.logo-font {
  font-family: 'logo-font', sans-serif;
}

.text-font-medium{
  font-family:'text-medium' ;
}
.text-font-light{
  font-family:'text-light' ;
}
.text-font-bold{
  font-family:'text-bold' ;
}

.text-font-title{
  font-family:'title' ;
}
